@model ForkliftHub.ViewModels.ProductFormViewModel

<h1>Create Product</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("_ProductForm", Model)
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
