@model ForkliftHub.ViewModels.ProductFormViewModel

<h1>Edit Product</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_ProductForm", Model)
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
