@model IEnumerable<ForkliftHub.Models.Engine>

@{
    ViewData["Title"] = "Engines";
}

<h2>Engines</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Engine</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Type</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
